body {
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    background-color: antiquewhite;
}

header {
    margin-top: 30px;
    width: 1085px;
    height: 45px;
    text-align: center;
    padding-top:10px;
    font-size: 35px;
    background-color: 4A293F;
    color:whitesmoke;
    font-family: "Palatino Linotype";
    text-decoration: overline;
}
aside {
    width: 300px;
    height: 200px;
    float: right;
    margin-bottom: 30px;
}

article {
    background-color: 4a293f;
    width: 300px;
    height: 200px;
    float: left;
    margin-bottom: 30px;
}

 nav {
        display: inline-block;
        padding: 10px;
        background-color: lightgrey;
        margin-top: 15px;
        margin-left:85px; 
        width:100px;
        text-align: center;
        font-family: "Palatino Linotype";
}
h1 {
    text-align: center;
    font-family: "Palatino Linotype";
    text-decoration: overline;
}
 a {
    text-decoration: none;
    color: black;
}

article img {
    width:400px;
    height:auto;
    margin-bottom: 30px;
}
aside img {
    width:400px;
    height:auto;
    margin-bottom: 30px;
}
main {width:1085px;
    height:300px;
    
}
footer {
   margin-top: 30px;
    width: 1085px;
    height: 225px;
        text-align: left;
    padding-top:10px;
    font-size: 35px;
    background-color: 3B2948;
    color:whitesmoke;
    font-family: "Palatino Linotype";
    text-decoration: overline;
    clear:both;
}
p {
    background-color: beige;
    border: 1px;
    border-bottom-style: double
}