body {
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    background-color: antiquewhite;
}

header {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 1085px;
    height: 80px;
    text-align: center;
    padding-top:10px;
    font-size: 70px;
    background-color: 4A293F;
    color:whitesmoke;
    font-family: "Palatino Linotype";
    
}
aside {
    background-color: cadetblue;
    width: 300px;
    height: 200px;
    float: right;
    margin:45px;
    margin-bottom: 30px;
}

article {
    background-color: 4a293f;
    width: 300px;
    height: 200px;
    float: left;
    margin-bottom: 30px;
}

 nav {
        display: inline-block;
        padding: 10px;
        background-color: cadetblue;
        border: 2px solid white;
        border-radius: 15px;
        margin-top: 15px;
        margin-left:85px;
        margin-bottom: 40px;
        width:100px;
        text-align: center;
        font-family: "Palatino Linotype";
}
h1 {
    text-align: center;
    font-family: "Palatino Linotype";

}
 a {
    text-decoration: none;
    color: black;
}
a:hover {
    color:azure;
        
}
a:visited {
    color:beige;
}

article img {
    width:400px;
    height:auto;
    margin-bottom: 30px;
}
aside img {
    width:400px;
    height:auto;
    margin-bottom: 30px;
}
main {width:1085px;
    height:300px;
    
}
footer {
   margin-top: 30px;
    margin-bottom: 30px;
    width: 1085px;
    height: 225px;
    text-align: right;
    padding-top:10px;
    font-size: 24px;
    background-color: 3B2948;
    font-family: "Palatino Linotype";
    clear:both;
}
p  {
    color:beige;
    border: 1px;
    border-bottom-style: dotted;
    padding: 20px;
}
p2 {
    
    color:black;
    border: 1px;
    padding: 20px;
    margin:30px;
    text-align: right;
    width:250px;
    height: 350px;
    font-size: 16px;
}